section.features.features_main
	.container
		.row
			.features__header
				.vertical-text ПРЕИМУЩЕСТВА
				h2.title.features__title ВЫГОДНО РАБОТАТЬ С НАМИ
				.features__subtitle Потому что у нас:
			.features__container
				.features__slider.swiper-container
					.swiper-wrapper
						.features__item.swiper-slide
							.features__item-icon
								img(src='img/features-icon-1.jpg' alt='')
							.features__item-title ОТЛИЧНАЯ ТЕХНОЛОГИЯ "ГИБКИЙ СЕНДВИЧ"
						.features__item.swiper-slide
							.features__item-icon
								img(src='img/features-icon-2.jpg' alt='')
							.features__item-title СОБСТВЕННОЕ ПРОИЗВОДСТВО В МОСКОВСКОЙ ОБЛАСТИ
						.features__item.swiper-slide
							.features__item-icon
								img(src='img/features-icon-3.jpg' alt='')
							.features__item-title ПРОЕКТИРОВАНИЕ В ПОЛНОМ СООТВЕТСТВИИ С НОРМАТИВАМИ РФ
						.features__item.swiper-slide
							.features__item-icon
								img(src='img/features-icon-4.jpg' alt='')
							.features__item-title МИНИМАЛЬНЫЕ СРОКИ ВОЗВЕДЕНИЯ ЗДАНИЯ
						.features__item.swiper-slide
							.features__item-icon
								img(src='img/features-icon-5.jpg' alt='')
							.features__item-title ОПТИМАЛЬНАЯ СТОИМОСТЬ ПОСТРОЙКИ
				button.arrow.arrow_sm.arrow_dark.arrow_prev.features__prev(type='button')
					svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 11" fill='currentColor')
						polygon(points="0 5.5 9 0 9 11 0 5.5")
				button.arrow.arrow_sm.arrow_dark.arrow_next.features__next(type='button')
					svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 11" fill='currentColor')
						polygon(points="9 5.5 0 0 0 11 9 5.5")