section.gallery.swiper-container
	.swiper-wrapper
		a.zoom.swiper-slide(href='img/gallery-img-1.jpg' data-fancybox='gallery')
			img(src='img/gallery-img-1.jpg')
		a.zoom.swiper-slide(href='img/gallery-img-2.jpg' data-fancybox='gallery')
			img(src='img/gallery-img-2.jpg')
		a.zoom.swiper-slide(href='img/gallery-img-3.jpg' data-fancybox='gallery')
			img(src='img/gallery-img-3.jpg')
		a.zoom.swiper-slide(href='img/gallery-img-4.jpg' data-fancybox='gallery')
			img(src='img/gallery-img-4.jpg')