section.gallery
	a(href='#')
		img(src='img/gallery-img-1.jpg')
	a(href='#')
		img(src='img/gallery-img-2.jpg')
	a(href='#')
		img(src='img/gallery-img-3.jpg')
	a(href='#')
		img(src='img/gallery-img-4.jpg')
	a(href='#')
		img(src='img/gallery-img-1.jpg')
	a(href='#')
		img(src='img/gallery-img-2.jpg')