section.hero(style='background-image: url(img/hero-bg.jpg)')
	.container
		.row
			.hero__offer
				.vertical-text РАЗНОЕ НАЗНАЧЕНИЕ
				.hero__content
					h1(style='font-size: 38px') ТЕХНОЛОГИИ ЛЕГКИХ ОГРАЖДАЮЩИХ КОНСТРУКЦИЙ
					p(style='font-size: 19px') Возможность возведения здания любого размера
		.row
			.hero__cats
				a.hero__cats-item(href='#')
					img(src='img/hero-cat-1.jpg')
					div ДЛЯ СПОРТА
				a.hero__cats-item(href='#')
					img(src='img/hero-cat-2.jpg')
					div ДЛЯ БИЗНЕСА
				a.hero__cats-item(href='#')
					img(src='img/hero-cat-3.jpg')
					div ПРОМЫШЛЕННЫЕ
				.hero__cats-button
					a.arrow.arrow_sm.arrow_dark(href='#')
						svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 11" fill='currentColor')
							polygon(points="9 5.5 0 0 0 11 9 5.5")
				button.hero__order
					img(src='img/calculation-icon.png')
					span ЗАКАЗАТЬ РАСЧЕТ