section.information
	.container
		.row.information__body
			ul.information__menu
				li.current-menu-item
					img(src='img/menu-img-1.png' alt='')
					a(href='#') НОВОСТИ СТРОИТЕЛЬСТВА
				li
					img(src='img/menu-img-2.png' alt='')
					a(href='#') ПОЛЕЗНЫЕ СТАТЬИ
				li
					img(src='img/menu-img-3.png' alt='')
					a(href='#') ВАШИ ВОПРОСЫ
				li
					img(src='img/menu-img-4.png' alt='')
					a(href='#') ИНТЕРВЬЮ
			.information__text
				p Наша компания постоянно находится в процессе роста и совершенствования услуг, в этом разделе вы узнаете о последних построенных нами проектоах, найдете видео с площадки текущих объектов.
			.information__img
				img(src='img/information-img.jpg' alt='')