section.interview
	.container
		.row
			.interview__header
				h2.title.interview__title ИНТЕРВЬЮ СО СТРОИТЕЛЬСТВА
		.row.interview__container
			.interview__slider.swiper-container
				.swiper-wrapper
					.interview__slide.swiper-slide
						.interview__video.video-border
							//.video
								a.video__link(href='https://youtu.be/Uoq8NA_N7Ao')
									picture
										img.video__media(src='img/video-thumb.jpg' alt='')
								button.video__button(type="button")
									svg(width="68" height="48" viewbox="0 0 68 48")
										path.video__button-shape(d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z")
										path.video__button-icon(d="M 45,24 27,14 27,34")
							video(src='video_2.mp4' controls)
						.interview__text
							p(style='color: #054c7a; font-size: 16px; font-weight: 700;') Иванов Иван о строительстве ледового комплекса
							p
							p прекрасная альтернатива традиционным зданиям. Эти конструкции могут быть любых размеров и форм, поэтому и имеют такую широкую область применения: в качестве складов, хранилищ, укрытий, помещений для хранения и обслуживания различной техники и оборудования, животноводческих комплексов (СТФ и МТФ), выставочных павильонов, в последнее время особенно популярны стали в сфере спортивного строительства
							a.button.button_fill(href='#') ПОСМОТРЕТЬ ПРОЕКТ
					.interview__slide.swiper-slide
						.interview__video.video-border
							.video
								a.video__link(href='https://youtu.be/Uoq8NA_N7Ao')
									picture
										img.video__media(src='img/video-thumb.jpg' alt='')
								button.video__button(type="button")
									svg(width="68" height="48" viewbox="0 0 68 48")
										path.video__button-shape(d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z")
										path.video__button-icon(d="M 45,24 27,14 27,34")
							//video(src='video_2.mp4' controls)
						.interview__text
							p(style='color: #054c7a; font-size: 16px; font-weight: 700;') Интервью №2
							p
							p прекрасная альтернатива традиционным зданиям. Эти конструкции могут быть любых размеров и форм, поэтому и имеют такую широкую область применения: в качестве складов, хранилищ, укрытий, помещений для хранения и обслуживания различной техники и оборудования, животноводческих комплексов (СТФ и МТФ), выставочных павильонов, в последнее время особенно популярны стали в сфере спортивного строительства
							a.button.button_fill(href='#') ПОСМОТРЕТЬ ПРОЕКТ
			button.arrow.arrow_sm.arrow_dark.arrow_prev.interview__prev(type='button')
				svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 11" fill='currentColor')
					polygon(points="0 5.5 9 0 9 11 0 5.5")
			button.arrow.arrow_sm.arrow_dark.arrow_next.interview__next(type='button')
				svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 11" fill='currentColor')
					polygon(points="9 5.5 0 0 0 11 9 5.5")
		.row
			.interview__footer
				a.button.button_empty(href='#') СМОТРЕТЬ ВСЕ 120 ПРОЕКТОВ