section.news
	.container
		.row
			.news__header
				.vertical-text ПРОДУКЦИЯ
				h2.title.news__title НАША ПРОДУКЦИЯ
				.news__subtitle Делится по трем типам
		.news__container
			.news__slider.swiper-container
				.swiper-wrapper
					a.news__item.swiper-slide(href='#')
						.news__item-body
							img(src='img/types-img-1.jpg')
							.news__text
								.news__item-title.types-title ТИП КАРКАСА
								.news__excerpt Утепленное каркасно-мембранное укрытие двух хоккейных полей и четырех теннисных кортов с пристройкой для двух хоккейных полей размещения...
						.news__item-footer
							.news__link
								span выбрать
								button.arrow.arrow_sm.arrow_dark(type='button')
									svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 11" fill='currentColor')
										polygon(points="9 5.5 0 0 0 11 9 5.5")
					a.news__item.swiper-slide(href='#')
						.news__item-body
							img(src='img/types-img-2.jpg')
							.news__text
								.news__item-title.types-title ТИП ПОКРЫТИЯ
								.news__excerpt Утепленное каркасно-мембранное укрытие двух хоккейных полей и четырех теннисных кортов с пристройкой для двух хоккейных полей размещения...
						.news__item-footer
							.news__link
								span выбрать
								button.arrow.arrow_sm.arrow_dark(type='button')
									svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 11" fill='currentColor')
										polygon(points="9 5.5 0 0 0 11 9 5.5")
					a.news__item.swiper-slide(href='#')
						.news__item-body
							img(src='img/types-img-3.jpg')
							.news__text
								.news__item-title.types-title НАЗНАЧЕНИЕ
								.news__excerpt Утепленное каркасно-мембранное укрытие двух хоккейных полей и четырех теннисных кортов с пристройкой для двух хоккейных полей размещения...
						.news__item-footer
							.news__link
								span выбрать
								button.arrow.arrow_sm.arrow_dark(type='button')
									svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 11" fill='currentColor')
										polygon(points="9 5.5 0 0 0 11 9 5.5")
			button.arrow.arrow_sm.arrow_dark.arrow_prev.news__prev(type='button')
				svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 11" fill='currentColor')
					polygon(points="0 5.5 9 0 9 11 0 5.5")
			button.arrow.arrow_sm.arrow_dark.arrow_next.news__next(type='button')
				svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 11" fill='currentColor')
					polygon(points="9 5.5 0 0 0 11 9 5.5")