section.numbers
	.container
		.row
			.numbers__header
				h2.title ОТ ЧЕГО ЗАВИСИТ СТОИМОСТЬ
				.numbers__subtitle Параметры:
		.numbers__slider
			.numbers__item НАЗВАНИЕ ПАРАМЕТРА	СТРОИТЕЛЬСТВА
			.numbers__item НАЗВАНИЕ ПАРАМЕТРА	СТРОИТЕЛЬСТВА
			.numbers__item НАЗВАНИЕ ПАРАМЕТРА	СТРОИТЕЛЬСТВА
			.numbers__item НАЗВАНИЕ ПАРАМЕТРА	СТРОИТЕЛЬСТВА
			.numbers__item НАЗВАНИЕ ПАРАМЕТРА	СТРОИТЕЛЬСТВА
			.numbers__item НАЗВАНИЕ ПАРАМЕТРА	СТРОИТЕЛЬСТВА