section.numbers
	.container
		.row
			.numbers__header
				h2.title ОТ ЧЕГО ЗАВИСИТ СТОИМОСТЬ
				.numbers__subtitle Параметры:
		.numbers__slider.swiper-container
			.swiper-wrapper
				.numbers__item.swiper-slide НАЗВАНИЕ ПАРАМЕТРА	СТРОИТЕЛЬСТВА
				.numbers__item.swiper-slide НАЗВАНИЕ ПАРАМЕТРА	СТРОИТЕЛЬСТВА
				.numbers__item.swiper-slide НАЗВАНИЕ ПАРАМЕТРА	СТРОИТЕЛЬСТВА
				.numbers__item.swiper-slide НАЗВАНИЕ ПАРАМЕТРА	СТРОИТЕЛЬСТВА
				.numbers__item.swiper-slide НАЗВАНИЕ ПАРАМЕТРА	СТРОИТЕЛЬСТВА
				.numbers__item.swiper-slide НАЗВАНИЕ ПАРАМЕТРА	СТРОИТЕЛЬСТВА
				.numbers__item.swiper-slide НАЗВАНИЕ ПАРАМЕТРА	СТРОИТЕЛЬСТВА
			button.arrow.arrow_sm.arrow_dark.arrow_prev.numbers__prev(type='button')
				svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 11" fill='currentColor')
					polygon(points="0 5.5 9 0 9 11 0 5.5")
			button.arrow.arrow_sm.arrow_dark.arrow_next.numbers__next(type='button')
				svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 11" fill='currentColor')
					polygon(points="9 5.5 0 0 0 11 9 5.5")