section.numbers
	.container
		.row
			.numbers__header
				h2.title ОТ ЧЕГО ЗАВИСИТ СТОИМОСТЬ
				.numbers__subtitle Параметры:
		.numbers__slider.swiper-container
			.swiper-wrapper
				.numbers__item.swiper-slide НАЗВАНИЕ ПАРАМЕТРА	СТРОИТЕЛЬСТВА
				.numbers__item.swiper-slide НАЗВАНИЕ ПАРАМЕТРА	СТРОИТЕЛЬСТВА
				.numbers__item.swiper-slide НАЗВАНИЕ ПАРАМЕТРА	СТРОИТЕЛЬСТВА
				.numbers__item.swiper-slide НАЗВАНИЕ ПАРАМЕТРА	СТРОИТЕЛЬСТВА
				.numbers__item.swiper-slide НАЗВАНИЕ ПАРАМЕТРА	СТРОИТЕЛЬСТВА
				.numbers__item.swiper-slide НАЗВАНИЕ ПАРАМЕТРА	СТРОИТЕЛЬСТВА