section.office
	.container
		.row
			.office__header
				h2.title НАШ ОФИС
			.office__container
				.office__slider.swiper-container
					.swiper-wrapper
						.office__slide.swiper-slide
							a.zoom(href='img/office-img.jpg' data-fancybox)
								img(src='img/office-img.jpg' alt='')
							a.zoom(href='img/office-img.jpg' data-fancybox)
								img(src='img/office-img.jpg' alt='')
							a.zoom(href='img/office-img.jpg' data-fancybox)
								img(src='img/office-img.jpg' alt='')
						.office__slide.swiper-slide
							a.zoom(href='img/office-img.jpg' data-fancybox)
								img(src='img/office-img.jpg' alt='')
							a.zoom(href='img/office-img.jpg' data-fancybox)
								img(src='img/office-img.jpg' alt='')
							a.zoom(href='img/office-img.jpg' data-fancybox)
								img(src='img/office-img.jpg' alt='')
						.office__slide.swiper-slide
							a.zoom(href='img/office-img.jpg' data-fancybox)
								img(src='img/office-img.jpg' alt='')
							a.zoom(href='img/office-img.jpg' data-fancybox)
								img(src='img/office-img.jpg' alt='')
							a.zoom(href='img/office-img.jpg' data-fancybox)
								img(src='img/office-img.jpg' alt='')
						.office__slide.swiper-slide
							a.zoom(href='img/office-img.jpg' data-fancybox)
								img(src='img/office-img.jpg' alt='')
							a.zoom(href='img/office-img.jpg' data-fancybox)
								img(src='img/office-img.jpg' alt='')
							a.zoom(href='img/office-img.jpg' data-fancybox)
								img(src='img/office-img.jpg' alt='')
	.office__bg(style='background-image: url(img/our-projects-left-bg.jpg)')