section.our-projects
	.container
		.row
			.our-projects__header
				h2.title НАШИ
				h2.title ПРОЕКТЫ
			.our-projects__body
				.our-projects__inner
					.our-projects__img
						img(src='img/our-projects-img.jpg' alt='')
						.our-projects__img-footer
							.our-projects__img-caption Название фотографии, на которой подробности
							.our-projects__controls
								button.arrow.arrow_sm.arrow_light.arrow_prev(type='button')
									svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 11" fill='currentColor')
										polygon(points="0 5.5 9 0 9 11 0 5.5")
								button.arrow.arrow_sm.arrow_light.arrow_next(type='button')
									svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 11" fill='currentColor')
										polygon(points="9 5.5 0 0 0 11 9 5.5")
					.our-projects__content
						.our-projects__title Спортивный комплекс Спорт Тайм — ледовые катки и теннисные корты
						.our-projects__text
							p #[span(style='font-weight: 700; color: #054c7a') Назначение:] Укрытия ледовых полей и теннисных кортов
							p Утепленное каркасно-мембранное укрытие двух хоккейных полей и четырех теннисных кортов с пристройкой для размещения раздевалок, кафе, спортивного зала и др. помещений.
							p #[span(style='font-weight: 700; color: #054c7a') Размеры] 40 х 144 х 5,1м/14,4м(по стене/ в коньке), пристройка 15 х 68 х 5м (по стене)
							p Ворота подъемные для въезда ледоуборочных машин  4 шт
							p #[span(style='font-weight: 700; color: #054c7a') Место расположения:] г. Москва.
							p #[span(style='font-weight: 700; color: #054c7a') Год постройки:] 2018
							p #[span(style='font-weight: 700; color: #054c7a') Срок монтажа:] 60 рабочих дней
				.our-projects__inner
					.our-projects__img
						img(src='img/our-projects-img.jpg' alt='')
						.our-projects__img-footer
							.our-projects__img-caption Фотография второго проекта
							.our-projects__controls
								button.arrow.arrow_sm.arrow_light.arrow_prev(type='button')
									svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 11" fill='currentColor')
										polygon(points="0 5.5 9 0 9 11 0 5.5")
								button.arrow.arrow_sm.arrow_light.arrow_next(type='button')
									svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 11" fill='currentColor')
										polygon(points="9 5.5 0 0 0 11 9 5.5")
					.our-projects__content
						.our-projects__title Проект №2
						.our-projects__text
							p #[span(style='font-weight: 700; color: #054c7a') Назначение:] Укрытия ледовых полей и теннисных кортов
							p Утепленное каркасно-мембранное укрытие двух хоккейных полей и четырех теннисных кортов с пристройкой для размещения раздевалок, кафе, спортивного зала и др. помещений.
							p #[span(style='font-weight: 700; color: #054c7a') Размеры] 40 х 144 х 5,1м/14,4м(по стене/ в коньке), пристройка 15 х 68 х 5м (по стене)
							p Ворота подъемные для въезда ледоуборочных машин  4 шт
							p #[span(style='font-weight: 700; color: #054c7a') Место расположения:] г. Москва.
							p #[span(style='font-weight: 700; color: #054c7a') Год постройки:] 2018
							p #[span(style='font-weight: 700; color: #054c7a') Срок монтажа:] 60 рабочих дней
				.vertical-text ПРОЕКТЫ
			.our-projects__buttons
				a.button.button_empty(href='#') СМОТРЕТЬ ВСЕ 120 ПРОЕКТОВ
				button.button.button_fill.button_w-icon.our-projects__request-btn(type='button')
					img(src='img/request-icon.png' alt='')
					span ЗАКАЗАТЬ РАСЧЕТ
	.our-projects__bg-element.our-projects__bg-element_left(style='background-image: url(img/our-projects-left-bg.jpg)')
	.our-projects__bg-element.our-projects__bg-element_right(style='background-image: url(img/our-projects-right-bg.jpg)')