section.posts
	.container
		.row
			.posts__header
				.vertical-text СТАТЬИ
				h2.title.posts__title ВАМ МОЖЕТ БЫТЬ ИНТЕРЕСНО
				.posts__subtitle Полезная информация
			.posts__slider
				.posts__item
					.posts__inner
						img(src='img/posts-img-1.jpg')
						.posts__text
							a.posts__item-title(href='#') Заголовок статьи может быть длинным
							.posts__excerpt Это небольшой анонс статьи, создан для примера текста...
				.posts__item
					.posts__inner
						img(src='img/posts-img-2.jpg')
						.posts__text
							a.posts__item-title(href='#') Заголовок статьи может быть длинным
							.posts__excerpt Это небольшой анонс статьи, создан для примера текста...
				.posts__item
					.posts__inner
						img(src='img/posts-img-3.jpg')
						.posts__text
							a.posts__item-title(href='#') Заголовок статьи может быть длинным
							.posts__excerpt Это небольшой анонс статьи, создан для примера текста...
				.posts__item
					.posts__inner
						img(src='img/posts-img-3.jpg')
						.posts__text
							a.posts__item-title(href='#') Заголовок статьи может быть длинным
							.posts__excerpt Это небольшой анонс статьи, создан для примера текста...