section.projects-menu
	.container
		.row.projects-menu__container
			.projects-menu__title Остальные проекты
			.projects-menu__wrapper
				.projects-menu__slider.swiper-container(data-init='1')
					.swiper-wrapper
						a.swiper-slide(href='#')
							img(src='img/projects-menu-img-1.jpg' alt='')
							.projects-menu__footer СТОЛОВАЯ В СОЧИ
						a.swiper-slide(href='single-project.html')
							img(src='img/projects-menu-img-2.jpg' alt='')
							.projects-menu__footer СПОРТИВНЫЙ КОМПЛЕКС “СПОРТ ТАЙМ”
						a.swiper-slide(href='#')
							img(src='img/projects-menu-img-3.jpg' alt='')
							.projects-menu__footer КАТОК 30М
						a.swiper-slide(href='#')
							img(src='img/projects-menu-img-4.jpg' alt='')
							.projects-menu__footer ФУТБОЛ, БАТУТЫ 33.5М
						a.swiper-slide(href='#')
							img(src='img/projects-menu-img-5.jpg' alt='')
							.projects-menu__footer КАТОК 32М
						a.swiper-slide(href='#')
							img(src='img/projects-menu-img-6.jpg' alt='')
							.projects-menu__footer КОМПЛЕКС ЛЕДОВЫХ КАТКОВ И СПОРТИВНЫХ ПЛОЩАДОК СОКОЛЬНИКИ
						a.swiper-slide(href='#')
							img(src='img/projects-menu-img-6.jpg' alt='')
							.projects-menu__footer КОМПЛЕКС ЛЕДОВЫХ КАТКОВ И СПОРТИВНЫХ ПЛОЩАДОК СОКОЛЬНИКИ
						a.swiper-slide(href='#')
							img(src='img/projects-menu-img-1.jpg' alt='')
							.projects-menu__footer СТОЛОВАЯ В СОЧИ
						a.swiper-slide(href='#')
							img(src='img/projects-menu-img-2.jpg' alt='')
							.projects-menu__footer СПОРТИВНЫЙ КОМПЛЕКС “СПОРТ ТАЙМ”
						a.swiper-slide(href='#')
							img(src='img/projects-menu-img-3.jpg' alt='')
							.projects-menu__footer КАТОК 30М
						a.swiper-slide(href='#')
							img(src='img/projects-menu-img-4.jpg' alt='')
							.projects-menu__footer ФУТБОЛ, БАТУТЫ 33.5М
						a.swiper-slide(href='#')
							img(src='img/projects-menu-img-5.jpg' alt='')
							.projects-menu__footer КАТОК 32М
						a.swiper-slide(href='#')
							img(src='img/projects-menu-img-6.jpg' alt='')
							.projects-menu__footer КОМПЛЕКС ЛЕДОВЫХ КАТКОВ И СПОРТИВНЫХ ПЛОЩАДОК СОКОЛЬНИКИ
				button.arrow.arrow_md.arrow_dark.arrow_next.projects-menu__next(type="button")
					svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 11" fill="currentColor")
						polygon(points="9 5.5 0 0 0 11 9 5.5")
				button.arrow.arrow_md.arrow_dark.arrow_prev.projects-menu__prev(type="button")
					svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 11" fill="currentColor")
						polygon(points="0 5.5 9 0 9 11 0 5.5")