section.projects-menu
	.container
		.row.projects-menu__container
			.projects-menu__title Остальные проекты
			.projects-menu__slider(data-init='1')
				a(href='#')
					img(src='img/projects-menu-img-1.jpg' alt='')
					.projects-menu__footer СТОЛОВАЯ В СОЧИ
				a(href='single-project.html')
					img(src='img/projects-menu-img-2.jpg' alt='')
					.projects-menu__footer СПОРТИВНЫЙ КОМПЛЕКС “СПОРТ ТАЙМ”
				a(href='#')
					img(src='img/projects-menu-img-3.jpg' alt='')
					.projects-menu__footer КАТОК 30М
				a(href='#')
					img(src='img/projects-menu-img-4.jpg' alt='')
					.projects-menu__footer ФУТБОЛ, БАТУТЫ 33.5М
				a(href='#')
					img(src='img/projects-menu-img-5.jpg' alt='')
					.projects-menu__footer КАТОК 32М
				a(href='#')
					img(src='img/projects-menu-img-6.jpg' alt='')
					.projects-menu__footer КОМПЛЕКС ЛЕДОВЫХ КАТКОВ И СПОРТИВНЫХ ПЛОЩАДОК СОКОЛЬНИКИ
				//a(href='#')
				//	img(src='img/projects-menu-img-1.jpg' alt='')
				//	.projects-menu__footer СТОЛОВАЯ В СОЧИ
				//a(href='#')
				//	img(src='img/projects-menu-img-2.jpg' alt='')
				//	.projects-menu__footer СПОРТИВНЫЙ КОМПЛЕКС “СПОРТ ТАЙМ”
				//a(href='#')
				//	img(src='img/projects-menu-img-3.jpg' alt='')
				//	.projects-menu__footer КАТОК 30М
				//a(href='#')
				//	img(src='img/projects-menu-img-4.jpg' alt='')
				//	.projects-menu__footer ФУТБОЛ, БАТУТЫ 33.5М
				//a(href='#')
				//	img(src='img/projects-menu-img-5.jpg' alt='')
				//	.projects-menu__footer КАТОК 32М
				//a(href='#')
				//	img(src='img/projects-menu-img-6.jpg' alt='')
				//	.projects-menu__footer КОМПЛЕКС ЛЕДОВЫХ КАТКОВ И СПОРТИВНЫХ ПЛОЩАДОК СОКОЛЬНИКИ