section.promo
	.container
		.row
			.promo__header В настоящий момент компания «ТехноЛОК» уже более 15 лет занимается проектированием и производством тентовых мобильных укрытий.
			.promo__img
				img(src='img/text-img.jpg' alt='')
				button.arrow.arrow_md.arrow_dark.promo__button(type="button" data-src='https://youtu.be/Uoq8NA_N7Ao' data-fancybox)
					svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 11" fill="currentColor")
						polygon(points="9 5.5 0 0 0 11 9 5.5")