section.reviews
	.container
		.row
			.reviews__header
				.vertical-text ОТЗЫВЫ
				h2.title.reviews__title ОТЗЫВЫ О НАШЕЙ РАБОТЕ
				.reviews__link
					a(href='#') Смотреть все
			.reviews__slider
				a.reviews__item.zoom(href='#')
					img(src='img/reviews-img-1.jpg' alt='')
				a.reviews__item.zoom(href='#')
					img(src='img/reviews-img-2.jpg' alt='')
				a.reviews__item.zoom(href='#')
					img(src='img/reviews-img-1.jpg' alt='')
				a.reviews__item.zoom(href='#')
					img(src='img/reviews-img-2.jpg' alt='')
				a.reviews__item.zoom(href='#')
					img(src='img/reviews-img-1.jpg' alt='')
				a.reviews__item.zoom(href='#')
					img(src='img/reviews-img-2.jpg' alt='')