section.reviews
	.container
		.row
			.reviews__header
				.vertical-text ОТЗЫВЫ
				h2.title.reviews__title ОТЗЫВЫ О НАШЕЙ РАБОТЕ
				.reviews__link
					a(href='#') Смотреть все
			.reviews__container
				.reviews__slider.swiper-container
					.swiper-wrapper
						a.reviews__item.zoom.swiper-slide(href='#rev_942' data-fancybox)
							img(src='img/reviews-img-1.jpg' alt='')
						a.reviews__item.zoom.swiper-slide(href='#rev_942' data-fancybox)
							img(src='img/reviews-img-2.jpg' alt='')
						a.reviews__item.zoom.swiper-slide(href='#rev_942' data-fancybox)
							img(src='img/reviews-img-1.jpg' alt='')
						a.reviews__item.zoom.swiper-slide(href='#rev_942' data-fancybox)
							img(src='img/reviews-img-2.jpg' alt='')
						a.reviews__item.zoom.swiper-slide(href='#rev_942' data-fancybox)
							img(src='img/reviews-img-1.jpg' alt='')
						a.reviews__item.zoom.swiper-slide(href='#rev_942' data-fancybox)
							img(src='img/reviews-img-2.jpg' alt='')
				button.arrow.arrow_md.arrow_dark.arrow_next.reviews__next(type="button")
					svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 11" fill="currentColor")
						polygon(points="9 5.5 0 0 0 11 9 5.5")
				button.arrow.arrow_md.arrow_dark.arrow_prev.reviews__prev(type="button")
					svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 11" fill="currentColor")
						polygon(points="0 5.5 9 0 9 11 0 5.5")
	#rev_942.reviews__modal
		.reviews__modal-inner
			.reviews__modal-img
				img(src="https://pavlintmn.ru/wp-content/uploads/2019/11/otzyv-9.jpg" alt="")
			.reviews__modal-content
				.reviews__name Компания Интерком
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, commodi deserunt dolorum eaque esse, fugiat ipsam labore neque nisi sapiente sit vel veniam veritatis voluptatem, voluptatum. Ab amet architecto assumenda atque commodi cupiditate dicta dolor dolores earum eius esse est exercitationem explicabo facere harum itaque labore maiores mollitia nam non nulla odit optio porro possimus quam quas quidem repudiandae soluta tempore ullam ut veritatis vero, voluptatem! Aperiam cumque delectus facere hic molestiae nesciunt, perspiciatis quae voluptatem. Alias blanditiis consequatur debitis doloremque ducimus, esse voluptate voluptatibus. Debitis dolorem explicabo magni nam nihil placeat qui, quisquam voluptatum. Aliquid aperiam non quod voluptate!