section.service
	.container-fluid.service__container
		.row
			.service__img(style='background-image: url(img/image_1.jpg)')
			.service__text.service__text_left
				h2(style='font-size: 32px; color: #054c7a') СПОРТИВНЫЕ АНГАРЫ
				p Современные технологии нашей компании позволяют возводить спортивные укрытия практически в любой местности, независимо от ее климатических условий. При этом технология строительства позволяет не только быстро возвести тентовый спортивный комплекс, но и значительно уменьшает срок его окупаемости.
				h2(style='font-size: 32px; color: #054c7a') ПРЕИМУЩЕСТВА
				ul
					li Беспрецедентно короткие сроки изготовления и монтажа
					li Временные сооружения не требуют согласования
					li Значительная экономия на основании под сооружение, в следствие гибкости конструкции и способности воспринимать большие сезонные относительные деформации грунтов
					li Уникальные характеристики тентового материала сочетающие в себе гибкость, прочность, устойчивость к воздействию ультрафиолетовых лучей и влажности
					li и многое другое...
				a.button.button_fill(href='#') УЗНАТЬ БОЛЬШЕ
	.service__footer
		.container
			.row
				.service__footer-item
					.service__footer-text
						h3 ТИП #[br] КАРКАСА
						p ЛОК 1 #[br] ЛОК 1 #[br] ЛОК 1
					.service__footer-img
						img(src='https://place-hold.it/200x130')
				.service__footer-item
					.service__footer-text
						h3 ТИП #[br] ПОКРЫТИЯ
						p Холодное
					.service__footer-img
						img(src='https://place-hold.it/200x130')
				.service__footer-item
					.service__footer-text
						h3 ВЫПОЛНЕНО #[br] ПРОЕКТОВ
					.service__footer-number 5