section.serv-descr
	.container
		.row
			.serv-descr__header
				h2.title ВИДЫ ПОКРЫТИЯ ДЛЯ ДАННОГО НАЗНАЧЕНИЯ
			.serv-descr__item.serv-descr__item_right
				.serv-descr__text
					h2(style='font-size: 33px; color: #054c7a;') Холодное покрытие
					p Современные технологии нашей компании позволяют возводить спортивные укрытия практически в любой местности, независимо от ее климатических условий. При этом технология строительства позволяет не только быстро возвести тентовый спортивный комплекс, но и значительно уменьшает срок его окупаемости.
					p Преимущества тентовых спортивных сооружений перед капитальными строениями
					p Беспрецедентно короткие сроки изготовления и монтажа
					p Временные сооружения не требуют согласования
					p Значительная экономия на основании под сооружение, в следствие гибкости конструкции и способности воспринимать большие сезонные относительные деформации грунтов
					p Уникальные характеристики тентового материала сочетающие в себе гибкость, прочность, устойчивость к воздействию ультрафиолетовых лучей и влажности
					p Утепленное тентовое покрытие по показателям энергоэффективности не уступает покрытиям капитальных строений (сэндвич-панели, кирпич и т.д.)
				.serv-descr__img
					img(src='img/serv-descr-img.jpg' alt='')
				.serv-descr__bg(style='background-image: url(https://place-hold.it/360x360)')
			.serv-descr__item.serv-descr__item_left
				.serv-descr__text
					h2(style='font-size: 33px; color: #054c7a;') Холодное покрытие
					p Современные технологии нашей компании позволяют возводить спортивные укрытия практически в любой местности, независимо от ее климатических условий. При этом технология строительства позволяет не только быстро возвести тентовый спортивный комплекс, но и значительно уменьшает срок его окупаемости.
					p Преимущества тентовых спортивных сооружений перед капитальными строениями
					p Беспрецедентно короткие сроки изготовления и монтажа
					p Временные сооружения не требуют согласования
					p Значительная экономия на основании под сооружение, в следствие гибкости конструкции и способности воспринимать большие сезонные относительные деформации грунтов
					p Уникальные характеристики тентового материала сочетающие в себе гибкость, прочность, устойчивость к воздействию ультрафиолетовых лучей и влажности
					p Утепленное тентовое покрытие по показателям энергоэффективности не уступает покрытиям капитальных строений (сэндвич-панели, кирпич и т.д.)
				.serv-descr__img
					img(src='img/serv-descr-img.jpg' alt='')
				.serv-descr__bg(style='background-image: url(https://place-hold.it/360x360)')

section.serv-descr
	.container
		.row
			.serv-descr__header
				h2.title ВИДЫ КАРКАСОВ ДЛЯ ДАННОГО НАЗНАЧЕНИЯ
			.serv-descr__item.serv-descr__item_right
				.serv-descr__text
					h2(style='font-size: 33px; color: #054c7a;') Лок1
					p Современные технологии нашей компании позволяют возводить спортивные укрытия практически в любой местности, независимо от ее климатических условий. При этом технология строительства позволяет не только быстро возвести тентовый спортивный комплекс, но и значительно уменьшает срок его окупаемости.
					p Преимущества тентовых спортивных сооружений перед капитальными строениями
					p Беспрецедентно короткие сроки изготовления и монтажа
					p Временные сооружения не требуют согласования
					p Значительная экономия на основании под сооружение, в следствие гибкости конструкции и способности воспринимать большие сезонные относительные деформации грунтов
					p Уникальные характеристики тентового материала сочетающие в себе гибкость, прочность, устойчивость к воздействию ультрафиолетовых лучей и влажности
					p Утепленное тентовое покрытие по показателям энергоэффективности не уступает покрытиям капитальных строений (сэндвич-панели, кирпич и т.д.)
				.serv-descr__img
					img(src='img/serv-descr-img.jpg' alt='')
			.serv-descr__item.serv-descr__item_left
				.serv-descr__text
					h2(style='font-size: 33px; color: #054c7a;') Лок2
					p Современные технологии нашей компании позволяют возводить спортивные укрытия практически в любой местности, независимо от ее климатических условий. При этом технология строительства позволяет не только быстро возвести тентовый спортивный комплекс, но и значительно уменьшает срок его окупаемости.
					p Преимущества тентовых спортивных сооружений перед капитальными строениями
					p Беспрецедентно короткие сроки изготовления и монтажа
					p Временные сооружения не требуют согласования
					p Значительная экономия на основании под сооружение, в следствие гибкости конструкции и способности воспринимать большие сезонные относительные деформации грунтов
					p Уникальные характеристики тентового материала сочетающие в себе гибкость, прочность, устойчивость к воздействию ультрафиолетовых лучей и влажности
					p Утепленное тентовое покрытие по показателям энергоэффективности не уступает покрытиям капитальных строений (сэндвич-панели, кирпич и т.д.)
				.serv-descr__img
					img(src='img/serv-descr-img.jpg' alt='')
			.serv-descr__item.serv-descr__item_right
				.serv-descr__text
					h2(style='font-size: 33px; color: #054c7a;') Лок3
					p Современные технологии нашей компании позволяют возводить спортивные укрытия практически в любой местности, независимо от ее климатических условий. При этом технология строительства позволяет не только быстро возвести тентовый спортивный комплекс, но и значительно уменьшает срок его окупаемости.
					p Преимущества тентовых спортивных сооружений перед капитальными строениями
					p Беспрецедентно короткие сроки изготовления и монтажа
					p Временные сооружения не требуют согласования
					p Значительная экономия на основании под сооружение, в следствие гибкости конструкции и способности воспринимать большие сезонные относительные деформации грунтов
					p Уникальные характеристики тентового материала сочетающие в себе гибкость, прочность, устойчивость к воздействию ультрафиолетовых лучей и влажности
					p Утепленное тентовое покрытие по показателям энергоэффективности не уступает покрытиям капитальных строений (сэндвич-панели, кирпич и т.д.)
				.serv-descr__img
					img(src='img/serv-descr-img.jpg' alt='')