section.serv-menu
	.container
		.row
			.serv-menu__container
				.serv-menu__carcas(style="background-image: url(img/serv-menu-carcas-bg.jpg)")
					a.serv-menu__title.serv-menu__carcas-title(href='#') ПОДХОДЯЩИЙ КАРКАС
					a.serv-menu__link(href='#') #[span Лок1]
					a.serv-menu__link(href='#') #[span Лок2]
					a.serv-menu__link(href='#') #[span Лок3]
				.serv-menu__coating(style="background-image: url(img/serv-menu-coating-bg.jpg)")
					.serv-menu__coating-footer
						a.serv-menu__title.serv-menu__coating-title(href='#') ХОЛОДНОЕ ПОКРЫТИЕ
						ul.serv-menu__coating-list
							li
								a.serv-menu__link(href='#') Каток
							li
								a.serv-menu__link(href='#') Футбол
							li
								a.serv-menu__link(href='#') Еще название
							li
								a.serv-menu__link(href='#') Каток
							li
								a.serv-menu__link(href='#') Футбол
							li
								a.serv-menu__link(href='#') Еще название
				.serv-menu__coating(style="background-image: url(img/serv-menu-coating-bg.jpg)")
					.serv-menu__coating-footer
						a.serv-menu__title.serv-menu__coating-title(href='#') ТЕПЛОЕ ПОКРЫТИЕ
						ul.serv-menu__coating-list
							li
								a.serv-menu__link(href='#') Каток
							li
								a.serv-menu__link(href='#') Футбол
							li
								a.serv-menu__link(href='#') Еще название
							li
								a.serv-menu__link(href='#') Каток
							li
								a.serv-menu__link(href='#') Футбол
							li
								a.serv-menu__link(href='#') Еще название