section.team
	.container
		.row
			.team__header
				h2.title НАША КОМАНДА
			.team__tabs
				a.team__tab.active(href='#tab_1') РУКОВОДСТВО КОМПАНИИ
				a.team__tab(href='#tab_2') МЕНЕДЖЕРЫ
				a.team__tab(href='#tab_3') МОНТАЖНИКИ
			#tab_1.team__container
				.team__slider.swiper-container
					.swiper-wrapper
						.swiper-slide
							.team__item
								img(src='img/team-img-1.jpg' alt='#')
								.team__item-footer
									.team__name НИКОЛАЙ ПЕТРОВ
									.team__position Генеральный директор
						.swiper-slide
							.team__item
								img(src='img/team-img-2.jpg' alt='#')
								.team__item-footer
									.team__name АНАСТАСИЯ ИВАНОВА
									.team__position Главный бухгалтер
						.swiper-slide
							.team__item
								img(src='img/team-img-3.jpg' alt='#')
								.team__item-footer
									.team__name МИХАИЛ СИДОРОВ
									.team__position Менеджер
						.swiper-slide
							.team__item
								img(src='img/team-img-4.jpg' alt='#')
								.team__item-footer
									.team__name ЕКАТЕРИНА АНДРЕЕВА
									.team__position Младший менеджер
						.swiper-slide
							.team__item
								img(src='img/team-img-1.jpg' alt='#')
								.team__item-footer
									.team__name ЕКАТЕРИНА АНДРЕЕВА
									.team__position Младший менеджер
				button.arrow.arrow_sm.arrow_dark.arrow_prev(type='button')
					svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 11" fill='currentColor')
						polygon(points="0 5.5 9 0 9 11 0 5.5")
				button.arrow.arrow_sm.arrow_dark.arrow_next(type='button')
					svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 11" fill='currentColor')
						polygon(points="9 5.5 0 0 0 11 9 5.5")
			#tab_2.team__container
				.team__slider.swiper-container
					.swiper-wrapper
						.swiper-slide
							.team__item
								img(src='img/team-img-2.jpg' alt='#')
								.team__item-footer
									.team__name АНАСТАСИЯ ИВАНОВА
									.team__position Главный бухгалтер
						.swiper-slide
							.team__item
								img(src='img/team-img-1.jpg' alt='#')
								.team__item-footer
									.team__name НИКОЛАЙ ПЕТРОВ
									.team__position Генеральный директор
						.swiper-slide
							.team__item
								img(src='img/team-img-4.jpg' alt='#')
								.team__item-footer
									.team__name ЕКАТЕРИНА АНДРЕЕВА
									.team__position Младший менеджер
						.swiper-slide
							.team__item
								img(src='img/team-img-3.jpg' alt='#')
								.team__item-footer
									.team__name МИХАИЛ СИДОРОВ
									.team__position Менеджер
						.swiper-slide
							.team__item
								img(src='img/team-img-1.jpg' alt='#')
								.team__item-footer
									.team__name ЕКАТЕРИНА АНДРЕЕВА
									.team__position Младший менеджер
				button.arrow.arrow_sm.arrow_dark.arrow_prev(type='button')
					svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 11" fill='currentColor')
						polygon(points="0 5.5 9 0 9 11 0 5.5")
				button.arrow.arrow_sm.arrow_dark.arrow_next(type='button')
					svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 11" fill='currentColor')
						polygon(points="9 5.5 0 0 0 11 9 5.5")