section.text
	.container
		.row
			.text__content
				h1(style='font-size: 38px; color: #054c7a;') ЦЕНЫ НА ПРОИЗВОДСТВО
				br
				p
					img.alignright(src='img/text-img.jpg')
					| Стоимость каждого проекта расчитывается индивидуально, так как цена зависит от ряда факторов, фундамента, места строительства, условий, транспортной развязки, температуры и региона, цена может меняться.
				p Примерную стоимость вашего проекта вы можете прикинуть на примере наших уже готовых проектов, чтобы получить коммерческое предложение, звоните.