section.text
	.container
		.row
			.text__content
				h3(style='font-size: 16px; color: #054c7a;') Краткое описание проекта
					img.alignright(src='img/text-img-1.jpg')
				p Современные технологии нашей компании позволяют возводить спортивные укрытия практически в любой местности, независимо от ее климатических условий. При этом технология строительства позволяет не только быстро возвести тентовый спортивный комплекс, но и значительно уменьшает срок его окупаемости.
				p Преимущества тентовых спортивных сооружений перед капитальными строениями
				ul
					li Беспрецедентно короткие сроки изготовления и монтажа
					li Временные сооружения не требуют согласования
					li Значительная экономия на основании под сооружение, в следствие гибкости конструкции и способности воспринимать большие сезонные относительные деформации грунтов
					li Уникальные характеристики тентового материала сочетающие в себе гибкость, прочность, устойчивость к воздействию ультрафиолетовых лучей и влажности
					li Утепленное тентовое покрытие по показателям энергоэффективности не уступает покрытиям капитальных строений (сэндвич-панели, кирпич и т.д.)
					li Мобильность конструкции без потерь эксплуатационных характеристик
					li Меньшая цена тентового сооружения
				p Заказав у нас каркасно-тентовое сооружение вы можете создать комфортные условия и защитить от неблагоприятных погодных факторов от небольшой ледовой коробки с естественным льдом, трансформируемой, например, в мини-футбольное поле летом, до профессиональной ледовой арены или полноразмерного футбольного поля.
				br
				br
				br
				br
				br
				br
				br
				br
				h3(style='font-size: 16px; color: #054c7a;') Краткое описание проекта
					img.alignleft(src='img/text-img-2.jpg')
				p Современные технологии нашей компании позволяют возводить спортивные укрытия практически в любой местности, независимо от ее климатических условий. При этом технология строительства позволяет не только быстро возвести тентовый спортивный комплекс, но и значительно уменьшает срок его окупаемости.
				p Преимущества тентовых спортивных сооружений перед капитальными строениями
				p Беспрецедентно короткие сроки изготовления и монтажа
				p Временные сооружения не требуют согласования
				p Значительная экономия на основании под сооружение, в следствие гибкости конструкции и способности воспринимать большие сезонные относительные деформации грунтов
				p Уникальные характеристики тентового материала сочетающие в себе гибкость, прочность, устойчивость к воздействию ультрафиолетовых лучей и влажности
				p Утепленное тентовое покрытие по показателям энергоэффективности не уступает покрытиям капитальных строений (сэндвич-панели, кирпич и т.д.)
				p Мобильность конструкции без потерь эксплуатационных характеристик
				p Меньшая цена тентового сооружения
				p Заказав у нас каркасно-тентовое сооружение вы можете создать комфортные условия и защитить от неблагоприятных погодных факторов от небольшой ледовой коробки с естественным льдом, трансформируемой, например, в мини-футбольное поле летом, до профессиональной ледовой арены или полноразмерного футбольного поля.