section.types
	.container
		.row
			.types__header
				.vertical-text ПРОДУКЦИЯ
				h2.title.types__title НАША ПРОДУКЦИЯ
				.types__subtitle Делится по трем типам
		.types__slider
			.types__item
				.types__item-body
					img(src='img/types-img-1.jpg')
					.types__text
						.types__item-title ТИП КАРКАСА
						.types__excerpt Утепленное каркасно-мембранное укрытие двух хоккейных полей и четырех теннисных кортов с пристройкой для двух хоккейных полей размещения...
				.types__item-footer
					a.types__link(href='#')
						span выбрать
						button.arrow.arrow_sm.arrow_dark(type='button')
							svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 11" fill='currentColor')
								polygon(points="9 5.5 0 0 0 11 9 5.5")
			.types__item
				.types__item-body
					img(src='img/types-img-2.jpg')
					.types__text
						.types__item-title ТИП ПОКРЫТИЯ
						.types__excerpt Утепленное каркасно-мембранное укрытие двух хоккейных полей и четырех теннисных кортов с пристройкой для двух хоккейных полей размещения...
				.types__item-footer
					a.types__link(href='#')
						span выбрать
						button.arrow.arrow_sm.arrow_dark(type='button')
							svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 11" fill='currentColor')
								polygon(points="9 5.5 0 0 0 11 9 5.5")
			.types__item
				.types__item-body
					img(src='img/types-img-3.jpg')
					.types__text
						.types__item-title НАЗНАЧЕНИЕ
						.types__excerpt Утепленное каркасно-мембранное укрытие двух хоккейных полей и четырех теннисных кортов с пристройкой для двух хоккейных полей размещения...
				.types__item-footer
					a.types__link(href='#')
						span выбрать
						button.arrow.arrow_sm.arrow_dark(type='button')
							svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 11" fill='currentColor')
								polygon(points="9 5.5 0 0 0 11 9 5.5")