section.video(style='background-image: url(img/video-bg.jpg)')
	.container
		.row
			.video__header
				.vertical-text ВИДЕО
				h2.title.video__title СМОТРИТЕ ВИДЕО
				.video__subtitle Какие результаты вы получите
			.video__container
				iframe(width="560" height="365" src="https://www.youtube.com/embed/Uoq8NA_N7Ao" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")
				//video(src='video_2.mp4' controls)
			.video__text
				p(style='color: #054c7a; font-size: 16px; font-weight: 700;') Каркасно-тентовые конструкции
				p
				p прекрасная альтернатива традиционным зданиям. Эти конструкции могут быть любых размеров и форм, поэтому и имеют такую широкую область применения: в качестве складов, хранилищ, укрытий, помещений для хранения и обслуживания различной техники и оборудования, животноводческих комплексов (СТФ и МТФ), выставочных павильонов, в последнее время особенно популярны стали в сфере спортивного строительства
				button.button.button_fill.button_w-icon(type='button')
					img(src='img/request-icon.png' alt='')
					span ЗАКАЗАТЬ РАСЧЕТ