.footer {
	border-bottom: 4px solid #14469c;
	@include sm-block() {
		padding-top: 20px;
	}

	&__container {
		align-items: center;
	}

	&__copyright {
		@include col();
		@include size(2.2);
		@include size-lg(2.6);
		@include size-md(3.3);
		@include size-sm(6);
		@include size-xs(12);
		font-size: 13px;
		line-height: 1.5;
		@include xs-block() {
			order: 3;
		}
	}

	&__contacts {
		@include col();
		@include size(1.8);
		@include size-lg(2);
		@include size-md(2.6);
		@include size-sm(6);
		@include size-xs(12);
		@include shift-left(1.4);
		@include shift-lg-left(1);
		@include md-block() {
			margin-left: 15px;
		}
		@include xs-block() {
			order: 1;
		}
	}

	&__tel {
		display: block;
		margin-bottom: 10px;
		color: #1864b0;
		font-weight: 700;
		font-size: 20px;
		font-family: $font-second;
		text-decoration: none;
	}

	&__mail {
		display: inline-block;
		font-size: 13px;
		text-decoration: none;
		border-bottom: 2px solid #009bd1;
	}

	&__button {
		@include col();
		@include size(2);
		@include size-md(3);
		@include size-sm(6);
		@include size-xs(12);
		@include shift-left(0.8);
		@include md-block() {
			margin-left: 15px;
		}
		@include xs-block() {
			order: 2;
			margin: 15px;
		}
	}

	&__logo {
		@include col();
		@include size(2.3);
		@include size-lg(2.7);
		@include size-md(3.3);
		@include size-sm(6);
		@include size-xs(12);
		display: block;
		margin-left: auto;
		padding: 53px 23px 51px;
		text-decoration: none;
		background-color: #14469c;
		@include md-block() {
			padding: 30px 23px;
		}
		@include sm-block() {
			margin-top: 20px;
			padding: 20px;
		}
		@include xs-block() {
			order: 4;
		}

		svg {
			display: block;
			max-width: 100%;
			margin: 0 auto;
		}
	}
}
