.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 5;
	background-color: #14469c;
	transition: all 0.3s;

	&.scroll {

		.header__logo {
			padding: 23px;
			@include xs-block() {
				padding: 17px 5px;
			}
		}

		.header__order {
			top: 80px;
			@include lg-block() {
				top: 74px;
			}
			@include md-block() {
				top: 70px;
			}
			@include sm-block() {
				top: 71px;
			}
		}
	}

	&__logo {
		@include col();
		@include size(2.54);
		@include size-md(3);
		@include size-sm(4);
		display: block;
		margin-right: 0;
		padding: 43px 23px 23px;
		text-decoration: none;
		background-color: #14469c;
		transition: all 0.3s;
		@include xs-block() {
			padding: 17px 5px;
		}

		svg {
			max-width: 100%;
		}
	}

	&__menu {
		flex-grow: 1;
		box-sizing: border-box;
		color: #fff;
		font-weight: 700;
		font-size: 15px;
		font-family: $font-second;
		line-height: 1.2;
		transition: all 0.3s;
		@include md-block() {
			display: none;
		}

		>ul {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 100%;
			margin: 0;
			padding: 0;

			>li {
				flex-grow: 1;
				height: inherit;

				>a {
					display: flex;
					align-items: center;
					justify-content: center;
					height: inherit;
				}
			}
		}

		li {
			margin: 0;
			transition: background-color 0.3s;

			&:hover {
				color: #14469c;
				background-color: #fff;

				.sub-menu {
					visibility: visible;
					opacity: 1;
				}
			}

			&.current-menu-item,
			&.current-menu-parent {
				color: #14469c;
				background-color: #fff;
			}

			&::before {
				display: none;
			}
		}

		a {
			text-decoration: none;
		}

		.sub-menu {
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 11;
			width: max-content;
			margin: 0;
			padding: 0;
			color: #fff;
			list-style-type: none;
			background-color: #14469c;
			visibility: hidden;
			opacity: 0;
			transition: all 0.3s;

			a {
				padding: 10px 20px;
				line-height: 2.5;
			}

			li {

				&:hover {
					color: #fff;
					background-color: #289dcc;
				}

				&.current-menu-item {
					color: #fff;
					background-color: #289dcc;
				}
			}
		}
	}

	&__call {
		@include col();
		display: flex;
		align-items: center;
		margin-left: 0;
		@include lg-block() {
			margin: 0;
		}
		@include md-block() {
			margin-left: auto;
		}
	}

	&__button {
		@include col();
		display: flex;
		align-items: center;
	}

	&__order {
		position: absolute;
		top: 120px;
		right: 0;
		padding: 25px 22px 18px;
		line-height: 1.4;
		@include xs-block() {
			display: none;
		}

		img {
			margin-bottom: 7px;
		}
	}
}
