/* Table */
.table {
  overflow-x: auto;
  margin: 15px 0;
}

.table table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #EFEFEF;
  border-top: 3px solid #14469c;
}

.table table caption {
  font-family: 'Open Sans Condensed,sans-serif', sans-serif;
  font-size: 22px;
  margin-bottom: 10px;
}

.table table tr:first-child {
  background-color: #14469c;
  color: #fff;
}

.table table td {
  border: 1px solid #EFEFEF;
  padding: 15px;
}

/* Headers */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed,sans-serif', sans-serif;
}