// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$features-item-1-name: 'features-item-1';
$features-item-1-x: 0px;
$features-item-1-y: 0px;
$features-item-1-offset-x: 0px;
$features-item-1-offset-y: 0px;
$features-item-1-width: 64px;
$features-item-1-height: 64px;
$features-item-1-total-width: 244px;
$features-item-1-total-height: 195px;
$features-item-1-image: '../img/sprites.png';
$features-item-1: (0px, 0px, 0px, 0px, 64px, 64px, 244px, 195px, '../img/sprites.png', 'features-item-1', );
$features-item-2-name: 'features-item-2';
$features-item-2-x: 186px;
$features-item-2-y: 0px;
$features-item-2-offset-x: -186px;
$features-item-2-offset-y: 0px;
$features-item-2-width: 58px;
$features-item-2-height: 58px;
$features-item-2-total-width: 244px;
$features-item-2-total-height: 195px;
$features-item-2-image: '../img/sprites.png';
$features-item-2: (186px, 0px, -186px, 0px, 58px, 58px, 244px, 195px, '../img/sprites.png', 'features-item-2', );
$features-item-3-name: 'features-item-3';
$features-item-3-x: 66px;
$features-item-3-y: 0px;
$features-item-3-offset-x: -66px;
$features-item-3-offset-y: 0px;
$features-item-3-width: 62px;
$features-item-3-height: 62px;
$features-item-3-total-width: 244px;
$features-item-3-total-height: 195px;
$features-item-3-image: '../img/sprites.png';
$features-item-3: (66px, 0px, -66px, 0px, 62px, 62px, 244px, 195px, '../img/sprites.png', 'features-item-3', );
$features-item-4-name: 'features-item-4';
$features-item-4-x: 0px;
$features-item-4-y: 66px;
$features-item-4-offset-x: 0px;
$features-item-4-offset-y: -66px;
$features-item-4-width: 60px;
$features-item-4-height: 62px;
$features-item-4-total-width: 244px;
$features-item-4-total-height: 195px;
$features-item-4-image: '../img/sprites.png';
$features-item-4: (0px, 66px, 0px, -66px, 60px, 62px, 244px, 195px, '../img/sprites.png', 'features-item-4', );
$features-item-5-name: 'features-item-5';
$features-item-5-x: 62px;
$features-item-5-y: 66px;
$features-item-5-offset-x: -62px;
$features-item-5-offset-y: -66px;
$features-item-5-width: 64px;
$features-item-5-height: 56px;
$features-item-5-total-width: 244px;
$features-item-5-total-height: 195px;
$features-item-5-image: '../img/sprites.png';
$features-item-5: (62px, 66px, -62px, -66px, 64px, 56px, 244px, 195px, '../img/sprites.png', 'features-item-5', );
$features-item-6-name: 'features-item-6';
$features-item-6-x: 130px;
$features-item-6-y: 0px;
$features-item-6-offset-x: -130px;
$features-item-6-offset-y: 0px;
$features-item-6-width: 54px;
$features-item-6-height: 64px;
$features-item-6-total-width: 244px;
$features-item-6-total-height: 195px;
$features-item-6-image: '../img/sprites.png';
$features-item-6: (130px, 0px, -130px, 0px, 54px, 64px, 244px, 195px, '../img/sprites.png', 'features-item-6', );
$hero-item-1-name: 'hero-item-1';
$hero-item-1-x: 97px;
$hero-item-1-y: 130px;
$hero-item-1-offset-x: -97px;
$hero-item-1-offset-y: -130px;
$hero-item-1-width: 31px;
$hero-item-1-height: 29px;
$hero-item-1-total-width: 244px;
$hero-item-1-total-height: 195px;
$hero-item-1-image: '../img/sprites.png';
$hero-item-1: (97px, 130px, -97px, -130px, 31px, 29px, 244px, 195px, '../img/sprites.png', 'hero-item-1', );
$hero-item-2-name: 'hero-item-2';
$hero-item-2-x: 0px;
$hero-item-2-y: 130px;
$hero-item-2-offset-x: 0px;
$hero-item-2-offset-y: -130px;
$hero-item-2-width: 31px;
$hero-item-2-height: 30px;
$hero-item-2-total-width: 244px;
$hero-item-2-total-height: 195px;
$hero-item-2-image: '../img/sprites.png';
$hero-item-2: (0px, 130px, 0px, -130px, 31px, 30px, 244px, 195px, '../img/sprites.png', 'hero-item-2', );
$hero-item-3-name: 'hero-item-3';
$hero-item-3-x: 65px;
$hero-item-3-y: 130px;
$hero-item-3-offset-x: -65px;
$hero-item-3-offset-y: -130px;
$hero-item-3-width: 30px;
$hero-item-3-height: 30px;
$hero-item-3-total-width: 244px;
$hero-item-3-total-height: 195px;
$hero-item-3-image: '../img/sprites.png';
$hero-item-3: (65px, 130px, -65px, -130px, 30px, 30px, 244px, 195px, '../img/sprites.png', 'hero-item-3', );
$hero-item-4-name: 'hero-item-4';
$hero-item-4-x: 29px;
$hero-item-4-y: 162px;
$hero-item-4-offset-x: -29px;
$hero-item-4-offset-y: -162px;
$hero-item-4-width: 29px;
$hero-item-4-height: 30px;
$hero-item-4-total-width: 244px;
$hero-item-4-total-height: 195px;
$hero-item-4-image: '../img/sprites.png';
$hero-item-4: (29px, 162px, -29px, -162px, 29px, 30px, 244px, 195px, '../img/sprites.png', 'hero-item-4', );
$hero-item-5-name: 'hero-item-5';
$hero-item-5-x: 130px;
$hero-item-5-y: 130px;
$hero-item-5-offset-x: -130px;
$hero-item-5-offset-y: -130px;
$hero-item-5-width: 30px;
$hero-item-5-height: 29px;
$hero-item-5-total-width: 244px;
$hero-item-5-total-height: 195px;
$hero-item-5-image: '../img/sprites.png';
$hero-item-5: (130px, 130px, -130px, -130px, 30px, 29px, 244px, 195px, '../img/sprites.png', 'hero-item-5', );
$hero-item-6-name: 'hero-item-6';
$hero-item-6-x: 0px;
$hero-item-6-y: 162px;
$hero-item-6-offset-x: 0px;
$hero-item-6-offset-y: -162px;
$hero-item-6-width: 27px;
$hero-item-6-height: 33px;
$hero-item-6-total-width: 244px;
$hero-item-6-total-height: 195px;
$hero-item-6-image: '../img/sprites.png';
$hero-item-6: (0px, 162px, 0px, -162px, 27px, 33px, 244px, 195px, '../img/sprites.png', 'hero-item-6', );
$loupe-icon-name: 'loupe-icon';
$loupe-icon-x: 130px;
$loupe-icon-y: 66px;
$loupe-icon-offset-x: -130px;
$loupe-icon-offset-y: -66px;
$loupe-icon-width: 35px;
$loupe-icon-height: 35px;
$loupe-icon-total-width: 244px;
$loupe-icon-total-height: 195px;
$loupe-icon-image: '../img/sprites.png';
$loupe-icon: (130px, 66px, -130px, -66px, 35px, 35px, 244px, 195px, '../img/sprites.png', 'loupe-icon', );
$price-icon-name: 'price-icon';
$price-icon-x: 130px;
$price-icon-y: 103px;
$price-icon-offset-x: -130px;
$price-icon-offset-y: -103px;
$price-icon-width: 32px;
$price-icon-height: 22px;
$price-icon-total-width: 244px;
$price-icon-total-height: 195px;
$price-icon-image: '../img/sprites.png';
$price-icon: (130px, 103px, -130px, -103px, 32px, 22px, 244px, 195px, '../img/sprites.png', 'price-icon', );
$save-icon-name: 'save-icon';
$save-icon-x: 186px;
$save-icon-y: 96px;
$save-icon-offset-x: -186px;
$save-icon-offset-y: -96px;
$save-icon-width: 32px;
$save-icon-height: 32px;
$save-icon-total-width: 244px;
$save-icon-total-height: 195px;
$save-icon-image: '../img/sprites.png';
$save-icon: (186px, 96px, -186px, -96px, 32px, 32px, 244px, 195px, '../img/sprites.png', 'save-icon', );
$time-icon-name: 'time-icon';
$time-icon-x: 33px;
$time-icon-y: 130px;
$time-icon-offset-x: -33px;
$time-icon-offset-y: -130px;
$time-icon-width: 30px;
$time-icon-height: 30px;
$time-icon-total-width: 244px;
$time-icon-total-height: 195px;
$time-icon-image: '../img/sprites.png';
$time-icon: (33px, 130px, -33px, -130px, 30px, 30px, 244px, 195px, '../img/sprites.png', 'time-icon', );
$video-icon-name: 'video-icon';
$video-icon-x: 186px;
$video-icon-y: 60px;
$video-icon-offset-x: -186px;
$video-icon-offset-y: -60px;
$video-icon-width: 39px;
$video-icon-height: 34px;
$video-icon-total-width: 244px;
$video-icon-total-height: 195px;
$video-icon-image: '../img/sprites.png';
$video-icon: (186px, 60px, -186px, -60px, 39px, 34px, 244px, 195px, '../img/sprites.png', 'video-icon', );
$features-item-1-2x-name: 'features-item-1@2x';
$features-item-1-2x-x: 0px;
$features-item-1-2x-y: 0px;
$features-item-1-2x-offset-x: 0px;
$features-item-1-2x-offset-y: 0px;
$features-item-1-2x-width: 128px;
$features-item-1-2x-height: 128px;
$features-item-1-2x-total-width: 488px;
$features-item-1-2x-total-height: 390px;
$features-item-1-2x-image: '../img/sprites@2x.png';
$features-item-1-2x: (0px, 0px, 0px, 0px, 128px, 128px, 488px, 390px, '../img/sprites@2x.png', 'features-item-1@2x', );
$features-item-2-2x-name: 'features-item-2@2x';
$features-item-2-2x-x: 372px;
$features-item-2-2x-y: 0px;
$features-item-2-2x-offset-x: -372px;
$features-item-2-2x-offset-y: 0px;
$features-item-2-2x-width: 116px;
$features-item-2-2x-height: 116px;
$features-item-2-2x-total-width: 488px;
$features-item-2-2x-total-height: 390px;
$features-item-2-2x-image: '../img/sprites@2x.png';
$features-item-2-2x: (372px, 0px, -372px, 0px, 116px, 116px, 488px, 390px, '../img/sprites@2x.png', 'features-item-2@2x', );
$features-item-3-2x-name: 'features-item-3@2x';
$features-item-3-2x-x: 132px;
$features-item-3-2x-y: 0px;
$features-item-3-2x-offset-x: -132px;
$features-item-3-2x-offset-y: 0px;
$features-item-3-2x-width: 124px;
$features-item-3-2x-height: 124px;
$features-item-3-2x-total-width: 488px;
$features-item-3-2x-total-height: 390px;
$features-item-3-2x-image: '../img/sprites@2x.png';
$features-item-3-2x: (132px, 0px, -132px, 0px, 124px, 124px, 488px, 390px, '../img/sprites@2x.png', 'features-item-3@2x', );
$features-item-4-2x-name: 'features-item-4@2x';
$features-item-4-2x-x: 0px;
$features-item-4-2x-y: 132px;
$features-item-4-2x-offset-x: 0px;
$features-item-4-2x-offset-y: -132px;
$features-item-4-2x-width: 120px;
$features-item-4-2x-height: 124px;
$features-item-4-2x-total-width: 488px;
$features-item-4-2x-total-height: 390px;
$features-item-4-2x-image: '../img/sprites@2x.png';
$features-item-4-2x: (0px, 132px, 0px, -132px, 120px, 124px, 488px, 390px, '../img/sprites@2x.png', 'features-item-4@2x', );
$features-item-5-2x-name: 'features-item-5@2x';
$features-item-5-2x-x: 124px;
$features-item-5-2x-y: 132px;
$features-item-5-2x-offset-x: -124px;
$features-item-5-2x-offset-y: -132px;
$features-item-5-2x-width: 128px;
$features-item-5-2x-height: 112px;
$features-item-5-2x-total-width: 488px;
$features-item-5-2x-total-height: 390px;
$features-item-5-2x-image: '../img/sprites@2x.png';
$features-item-5-2x: (124px, 132px, -124px, -132px, 128px, 112px, 488px, 390px, '../img/sprites@2x.png', 'features-item-5@2x', );
$features-item-6-2x-name: 'features-item-6@2x';
$features-item-6-2x-x: 260px;
$features-item-6-2x-y: 0px;
$features-item-6-2x-offset-x: -260px;
$features-item-6-2x-offset-y: 0px;
$features-item-6-2x-width: 108px;
$features-item-6-2x-height: 128px;
$features-item-6-2x-total-width: 488px;
$features-item-6-2x-total-height: 390px;
$features-item-6-2x-image: '../img/sprites@2x.png';
$features-item-6-2x: (260px, 0px, -260px, 0px, 108px, 128px, 488px, 390px, '../img/sprites@2x.png', 'features-item-6@2x', );
$hero-item-1-2x-name: 'hero-item-1@2x';
$hero-item-1-2x-x: 194px;
$hero-item-1-2x-y: 260px;
$hero-item-1-2x-offset-x: -194px;
$hero-item-1-2x-offset-y: -260px;
$hero-item-1-2x-width: 62px;
$hero-item-1-2x-height: 58px;
$hero-item-1-2x-total-width: 488px;
$hero-item-1-2x-total-height: 390px;
$hero-item-1-2x-image: '../img/sprites@2x.png';
$hero-item-1-2x: (194px, 260px, -194px, -260px, 62px, 58px, 488px, 390px, '../img/sprites@2x.png', 'hero-item-1@2x', );
$hero-item-2-2x-name: 'hero-item-2@2x';
$hero-item-2-2x-x: 0px;
$hero-item-2-2x-y: 260px;
$hero-item-2-2x-offset-x: 0px;
$hero-item-2-2x-offset-y: -260px;
$hero-item-2-2x-width: 62px;
$hero-item-2-2x-height: 60px;
$hero-item-2-2x-total-width: 488px;
$hero-item-2-2x-total-height: 390px;
$hero-item-2-2x-image: '../img/sprites@2x.png';
$hero-item-2-2x: (0px, 260px, 0px, -260px, 62px, 60px, 488px, 390px, '../img/sprites@2x.png', 'hero-item-2@2x', );
$hero-item-3-2x-name: 'hero-item-3@2x';
$hero-item-3-2x-x: 130px;
$hero-item-3-2x-y: 260px;
$hero-item-3-2x-offset-x: -130px;
$hero-item-3-2x-offset-y: -260px;
$hero-item-3-2x-width: 60px;
$hero-item-3-2x-height: 60px;
$hero-item-3-2x-total-width: 488px;
$hero-item-3-2x-total-height: 390px;
$hero-item-3-2x-image: '../img/sprites@2x.png';
$hero-item-3-2x: (130px, 260px, -130px, -260px, 60px, 60px, 488px, 390px, '../img/sprites@2x.png', 'hero-item-3@2x', );
$hero-item-4-2x-name: 'hero-item-4@2x';
$hero-item-4-2x-x: 58px;
$hero-item-4-2x-y: 324px;
$hero-item-4-2x-offset-x: -58px;
$hero-item-4-2x-offset-y: -324px;
$hero-item-4-2x-width: 58px;
$hero-item-4-2x-height: 60px;
$hero-item-4-2x-total-width: 488px;
$hero-item-4-2x-total-height: 390px;
$hero-item-4-2x-image: '../img/sprites@2x.png';
$hero-item-4-2x: (58px, 324px, -58px, -324px, 58px, 60px, 488px, 390px, '../img/sprites@2x.png', 'hero-item-4@2x', );
$hero-item-5-2x-name: 'hero-item-5@2x';
$hero-item-5-2x-x: 260px;
$hero-item-5-2x-y: 260px;
$hero-item-5-2x-offset-x: -260px;
$hero-item-5-2x-offset-y: -260px;
$hero-item-5-2x-width: 60px;
$hero-item-5-2x-height: 58px;
$hero-item-5-2x-total-width: 488px;
$hero-item-5-2x-total-height: 390px;
$hero-item-5-2x-image: '../img/sprites@2x.png';
$hero-item-5-2x: (260px, 260px, -260px, -260px, 60px, 58px, 488px, 390px, '../img/sprites@2x.png', 'hero-item-5@2x', );
$hero-item-6-2x-name: 'hero-item-6@2x';
$hero-item-6-2x-x: 0px;
$hero-item-6-2x-y: 324px;
$hero-item-6-2x-offset-x: 0px;
$hero-item-6-2x-offset-y: -324px;
$hero-item-6-2x-width: 54px;
$hero-item-6-2x-height: 66px;
$hero-item-6-2x-total-width: 488px;
$hero-item-6-2x-total-height: 390px;
$hero-item-6-2x-image: '../img/sprites@2x.png';
$hero-item-6-2x: (0px, 324px, 0px, -324px, 54px, 66px, 488px, 390px, '../img/sprites@2x.png', 'hero-item-6@2x', );
$loupe-icon-2x-name: 'loupe-icon@2x';
$loupe-icon-2x-x: 260px;
$loupe-icon-2x-y: 132px;
$loupe-icon-2x-offset-x: -260px;
$loupe-icon-2x-offset-y: -132px;
$loupe-icon-2x-width: 70px;
$loupe-icon-2x-height: 70px;
$loupe-icon-2x-total-width: 488px;
$loupe-icon-2x-total-height: 390px;
$loupe-icon-2x-image: '../img/sprites@2x.png';
$loupe-icon-2x: (260px, 132px, -260px, -132px, 70px, 70px, 488px, 390px, '../img/sprites@2x.png', 'loupe-icon@2x', );
$price-icon-2x-name: 'price-icon@2x';
$price-icon-2x-x: 260px;
$price-icon-2x-y: 206px;
$price-icon-2x-offset-x: -260px;
$price-icon-2x-offset-y: -206px;
$price-icon-2x-width: 64px;
$price-icon-2x-height: 44px;
$price-icon-2x-total-width: 488px;
$price-icon-2x-total-height: 390px;
$price-icon-2x-image: '../img/sprites@2x.png';
$price-icon-2x: (260px, 206px, -260px, -206px, 64px, 44px, 488px, 390px, '../img/sprites@2x.png', 'price-icon@2x', );
$save-icon-2x-name: 'save-icon@2x';
$save-icon-2x-x: 372px;
$save-icon-2x-y: 192px;
$save-icon-2x-offset-x: -372px;
$save-icon-2x-offset-y: -192px;
$save-icon-2x-width: 64px;
$save-icon-2x-height: 64px;
$save-icon-2x-total-width: 488px;
$save-icon-2x-total-height: 390px;
$save-icon-2x-image: '../img/sprites@2x.png';
$save-icon-2x: (372px, 192px, -372px, -192px, 64px, 64px, 488px, 390px, '../img/sprites@2x.png', 'save-icon@2x', );
$time-icon-2x-name: 'time-icon@2x';
$time-icon-2x-x: 66px;
$time-icon-2x-y: 260px;
$time-icon-2x-offset-x: -66px;
$time-icon-2x-offset-y: -260px;
$time-icon-2x-width: 60px;
$time-icon-2x-height: 60px;
$time-icon-2x-total-width: 488px;
$time-icon-2x-total-height: 390px;
$time-icon-2x-image: '../img/sprites@2x.png';
$time-icon-2x: (66px, 260px, -66px, -260px, 60px, 60px, 488px, 390px, '../img/sprites@2x.png', 'time-icon@2x', );
$video-icon-2x-name: 'video-icon@2x';
$video-icon-2x-x: 372px;
$video-icon-2x-y: 120px;
$video-icon-2x-offset-x: -372px;
$video-icon-2x-offset-y: -120px;
$video-icon-2x-width: 78px;
$video-icon-2x-height: 68px;
$video-icon-2x-total-width: 488px;
$video-icon-2x-total-height: 390px;
$video-icon-2x-image: '../img/sprites@2x.png';
$video-icon-2x: (372px, 120px, -372px, -120px, 78px, 68px, 488px, 390px, '../img/sprites@2x.png', 'video-icon@2x', );
$spritesheet-width: 244px;
$spritesheet-height: 195px;
$spritesheet-image: '../img/sprites.png';
$spritesheet-sprites: ($features-item-1, $features-item-2, $features-item-3, $features-item-4, $features-item-5, $features-item-6, $hero-item-1, $hero-item-2, $hero-item-3, $hero-item-4, $hero-item-5, $hero-item-6, $loupe-icon, $price-icon, $save-icon, $time-icon, $video-icon, );
$spritesheet: (244px, 195px, '../img/sprites.png', $spritesheet-sprites, );
$retina-spritesheet-width: 488px;
$retina-spritesheet-height: 390px;
$retina-spritesheet-image: '../img/sprites@2x.png';
$retina-spritesheet-sprites: ($features-item-1-2x, $features-item-2-2x, $features-item-3-2x, $features-item-4-2x, $features-item-5-2x, $features-item-6-2x, $hero-item-1-2x, $hero-item-2-2x, $hero-item-3-2x, $hero-item-4-2x, $hero-item-5-2x, $hero-item-6-2x, $loupe-icon-2x, $price-icon-2x, $save-icon-2x, $time-icon-2x, $video-icon-2x, );
$retina-spritesheet: (488px, 390px, '../img/sprites@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$features-item-1-group-name: 'features-item-1';
$features-item-1-group: ('features-item-1', $features-item-1, $features-item-1-2x, );
$features-item-2-group-name: 'features-item-2';
$features-item-2-group: ('features-item-2', $features-item-2, $features-item-2-2x, );
$features-item-3-group-name: 'features-item-3';
$features-item-3-group: ('features-item-3', $features-item-3, $features-item-3-2x, );
$features-item-4-group-name: 'features-item-4';
$features-item-4-group: ('features-item-4', $features-item-4, $features-item-4-2x, );
$features-item-5-group-name: 'features-item-5';
$features-item-5-group: ('features-item-5', $features-item-5, $features-item-5-2x, );
$features-item-6-group-name: 'features-item-6';
$features-item-6-group: ('features-item-6', $features-item-6, $features-item-6-2x, );
$hero-item-1-group-name: 'hero-item-1';
$hero-item-1-group: ('hero-item-1', $hero-item-1, $hero-item-1-2x, );
$hero-item-2-group-name: 'hero-item-2';
$hero-item-2-group: ('hero-item-2', $hero-item-2, $hero-item-2-2x, );
$hero-item-3-group-name: 'hero-item-3';
$hero-item-3-group: ('hero-item-3', $hero-item-3, $hero-item-3-2x, );
$hero-item-4-group-name: 'hero-item-4';
$hero-item-4-group: ('hero-item-4', $hero-item-4, $hero-item-4-2x, );
$hero-item-5-group-name: 'hero-item-5';
$hero-item-5-group: ('hero-item-5', $hero-item-5, $hero-item-5-2x, );
$hero-item-6-group-name: 'hero-item-6';
$hero-item-6-group: ('hero-item-6', $hero-item-6, $hero-item-6-2x, );
$loupe-icon-group-name: 'loupe-icon';
$loupe-icon-group: ('loupe-icon', $loupe-icon, $loupe-icon-2x, );
$price-icon-group-name: 'price-icon';
$price-icon-group: ('price-icon', $price-icon, $price-icon-2x, );
$save-icon-group-name: 'save-icon';
$save-icon-group: ('save-icon', $save-icon, $save-icon-2x, );
$time-icon-group-name: 'time-icon';
$time-icon-group: ('time-icon', $time-icon, $time-icon-2x, );
$video-icon-group-name: 'video-icon';
$video-icon-group: ('video-icon', $video-icon, $video-icon-2x, );
$retina-groups: ($features-item-1-group, $features-item-2-group, $features-item-3-group, $features-item-4-group, $features-item-5-group, $features-item-6-group, $hero-item-1-group, $hero-item-2-group, $hero-item-3-group, $hero-item-4-group, $hero-item-5-group, $hero-item-6-group, $loupe-icon-group, $price-icon-group, $save-icon-group, $time-icon-group, $video-icon-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
