.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: none;
  transition: all 0.3s;

  &_sm {
    width: 20px;
    height: 20px;

    svg {
      width: 5px;
      margin-left: 1px;
    }

    &.arrow_prev {
      svg {
        margin-left: -1px;
      }
    }

    &.arrow_dark {
      box-shadow: 0 5px 5px 0 rgba(#0098ce, 0.4), 0 0 0 7px rgba(#0097cf, 0.15);
    }
  }

  &_md {
    width: 35px;
    height: 35px;

    svg {
      width: 8px;
      margin-left: 1px;
    }

    &.arrow_prev {
      svg {
        margin-left: -3px;
      }
    }

    &.arrow_dark {
      box-shadow: 0 5px 12px 0 rgba(#0098ce, 0.4);
    }
  }

  &_dark {
    background: radial-gradient(
        ellipse at 30%,
        #2694C7 0%,
        #1858A6 100%
    );
    color: #fff;
  }

  &_light {
    background-color: #fff;
    color: #054C7A;
    box-shadow: 0 0 0 7px rgba(#fff, 0.15);
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 165%;
      height: 165%;
      border-radius: inherit;
      border: 1px solid rgba(#fff, 0.3);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }
}