.breadcrumbs {
  font-size: 13px;
  color: #054c7a;
  padding: 25px 0;

  &__container {
    @include col();
    @include size(12);
  }

  a {
    text-decoration: none;
    margin-right: 5px;

    + span {
      margin-left: 5px;
    }
  }
}

.breadcrumb_last {
  color: #4c4c4c;
}
