.button {
  display: inline-block;
  font-family: $font-second;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  min-width: 165px;
  padding: 14px 15px;
  text-decoration: none;
  text-align: center;

  &_fill {
    color: #fff;
    border-width: 3px 0 0 0;
    border-top-color: #36A4DD;
    background: linear-gradient(
        to right,
        #2695C8 0%,
        #2695C8 10%,
        #1855A4 100%
    );
    background-size: 100%;
    box-shadow: 0 5px 10px 3px rgba(#009bd1, 0.3);
    transition: all 0.3s;

    &:hover {
      background-size: 300%;
      box-shadow: 0 5px 10px 0 rgba(#000, 0.2);
    }

    img {
      margin-right: 10px;
    }
  }

  &_empty {
    color: #2389b7;
    background-color: #fff;
    position: relative;

    &:hover {
      &::after {
        background-size: 400%;
        box-shadow: 0 5px 10px 0 rgba(#000, 0.2);
      }
    }

    &::after {
      content: '';
      display: block;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      border-radius: 3px;
      position: absolute;
      top: -2px;
      left: -2px;
      z-index: -1;
      background: linear-gradient(
          to right,
          #00B8FF 0%,
          #054C7A 100%
      );
      background-size: 100%;
      transition: all 0.3s;
    }
  }

  &_w-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
  }
}