.features {
  padding: 280px 0 30px;
  background: url("../img/features-bg.jpg") no-repeat center top;

  &__header {
    @include col();
    @include size(12);
    color: #fff;
    text-align: center;
    display: grid;
    grid-template-columns: 11px 1fr;
  }

  &__title {
    grid-column: 2/2;
    .title {
      margin-bottom: 5px;
    }
  }

  &__subtitle {
    font-size: 15px;
    line-height: 1.2;
    color: #fafafa;
  }

  &__container {
    margin-top: 15px;
  }

  &__item {
    @include col();
    @include size(2.4);
    text-align: center;

    &:nth-child(odd) {
      .features__item-icon {
        &::before {
          background-color: #00285B;
          top: 0;
          left: calc(50% - 69px);
        }
      }
    }

    &:nth-child(even) {
      .features__item-icon {
        &::before {
          background-color: #1864B0;
          bottom: -12px;
          right: calc(50% - 69px);
        }
      }
    }
  }

  &__item-icon {
    padding-top: 12px;
    position: relative;
    z-index: 1;

    &::before {
      content: '';
      display: block;
      width: 50px;
      height: 50px;
      position: absolute;
      z-index: -1;
    }

    img {
      margin: 0 auto;
    }
  }

  &__item-title {
    font-family: $font-second;
    font-size: 17px;
    line-height: 1.3;
    font-weight: 700;
    color: #054c7a;
    margin-top: 60px;
  }
}