.footer {
  border-bottom: 4px solid #14469C;
  @include sm-block() {
    padding-top: 20px;
  }

  &__container {
    align-items: center;
  }

  &__copyright {
    @include col();
    @include size(2.2);
    @include size-lg(2.6);
    @include size-md(3.3);
    @include size-sm(6);
    font-size: 13px;
    line-height: 1.5;
  }

  &__contacts {
    @include col();
    @include size(1.8);
    @include size-lg(2);
    @include size-md(2.6);
    @include size-sm(6);
    @include shift-left(1.4);
    @include shift-lg-left(1);
    @include shift-md(0);
  }

  &__tel {
    display: block;
    font-family: $font-second;
    font-size: 20px;
    font-weight: 700;
    color: #1864b0;
    text-decoration: none;
    margin-bottom: 10px;
  }

  &__mail {
    display: inline-block;
    font-size: 13px;
    text-decoration: none;
    border-bottom: 2px solid #009BD1;
  }

  &__button {
    @include col();
    @include size(2);
    @include size-md(3);
    @include size-sm(6);
    @include shift-left(0.8);
    @include shift-md(0);
  }

  &__logo {
    @include col();
    @include size(2.3);
    @include size-lg(2.7);
    @include size-md(3.3);
    @include size-sm(6);
    display: block;
    background-color: #14469C;
    padding: 53px 23px 51px;
    text-decoration: none;
    margin-left: auto;
    @include md-block() {
      padding: 30px 23px;
    }
    @include sm-block() {
      padding: 20px;
      margin-top: 20px;
    }
  }
}