.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
  
  &.scroll {
    background-color: #fff;
    border-color: #14469C;

    .header__logo {
      padding: 23px;
    }

    .header__menu {
      color: #1864b0;
    }

    .burger__button {
      span {
        background-color: #1864b0;
      }
    }
  }

  &__logo {
    @include col();
    @include size(2.54);
    display: block;
    background-color: #14469C;
    padding: 43px 23px 23px;
    text-decoration: none;
    transition: all 0.3s;
    margin-right: 0;
  }

  &__menu {
    box-sizing: border-box;
    font-family: $font-second;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 700;
    color: #fff;
    flex-grow: 1;
    transition: all 0.3s;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }

    li {
      margin: 0;
      flex-grow: 1;
      height: inherit;
      transition: background-color 0.3s;
      
      &:hover {
        background-color: #14469C;
        color: #fff;
      }

      &.current-menu-item {
        background-color: #14469C;
        color: #fff;
      }

      &::before {
        display: none;
      }
    }

    a {
      text-decoration: none;
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__call {
    @include col();
    @include size(2);
    display: flex;
    align-items: center;
    margin-left: 0;
  }

  &__button {
    @include col();
    display: flex;
    align-items: center;
  }
}