.header {
  background-color: #14469C;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
  //border-bottom: 3px solid transparent;
  transition: all 0.3s;

  &.scroll {
    //background-color: #fff;
    //border-color: #14469C;

    .header__logo {
      padding: 23px;
      @include xs-block() {
        padding: 17px 5px;
      }
    }

    //.header__menu {
    //  color: #1864b0;
    //}

    //.burger__button {
    //  span {
    //    background-color: #1864b0;
    //  }
    //}

    .header__order {
      top: 80px;
      @include lg-block() {
        top: 74px;
      }
      @include md-block() {
        top: 70px;
      }
      @include sm-block() {
        top: 71px;
      }
    }
  }

  &__logo {
    @include col();
    @include size(2.54);
    @include size-md(3);
    @include size-sm(4);
    display: block;
    background-color: #14469C;
    padding: 43px 23px 23px;
    text-decoration: none;
    transition: all 0.3s;
    margin-right: 0;
    @include xs-block() {
      padding: 17px 5px;
    }

		svg {
			max-width: 100%;
		}
  }

  &__menu {
    box-sizing: border-box;
    font-family: $font-second;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 700;
    color: #fff;
    flex-grow: 1;
    transition: all 0.3s;
    @include md-block() {
      display: none;
    }

    >ul {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;

      >li {
        height: inherit;
        flex-grow: 1;

        >a {
          height: inherit;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    li {
      margin: 0;
      transition: background-color 0.3s;

      &:hover {
        //background-color: #14469C;
        //color: #fff;
        background-color: #fff;
        color: #14469C;

        .sub-menu {
          opacity: 1;
          visibility: visible;
        }
      }

      &.current-menu-item,
      &.current-menu-parent {
        //background-color: #14469C;
        //color: #fff;
        background-color: #fff;
        color: #14469C;
      }

      &::before {
        display: none;
      }
    }

    a {
      text-decoration: none;
    }

    .sub-menu {
      padding: 0;
      margin: 0;
      list-style-type: none;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 100%;
      left: 0;
      width: max-content;
      background-color: #14469C;
      color: #fff;
      transition: all 0.3s;
      z-index: 11;

      a {
        padding: 10px 20px;
        line-height: 2.5;
      }

      li {
        &:hover {
          background-color: #289DCC;
          color: #fff;
        }

        &.current-menu-item {
          color: #fff;
          background-color: #289DCC;
        }
      }
    }
  }

  &__call {
    @include col();
    display: flex;
    align-items: center;
    margin-left: 0;
    @include lg-block() {
      margin: 0;
    }
    @include md-block() {
      margin-left: auto;
    }
  }

  &__button {
    @include col();
    display: flex;
    align-items: center;
  }

  &__order {
    position: absolute;
    top: 120px;
    right: 0;
    padding: 25px 22px 18px;
    line-height: 1.4;

    img {
      margin-bottom: 7px;
    }
  }
}
