.hero {
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 270px;
  @include sm-block() {
    padding-top: 165px;
  }

  &__offer {
    @include col();
    @include size(7.5);
    @include size-lg(9);
    @include size-md(11);
    @include size-xs(12);
    display: grid;
    grid-template-columns: 75px auto;
    color: #fff;
    background-color: rgba(#14459c, 0.7);
    position: relative;
    @include sm-block() {
      grid-template-columns: 40px auto;
      display: block;
    }

    &::before {
      content: '';
      display: block;
      width: 170px;
      height: 100%;
      position: absolute;
      right: 100%;
      background-color: rgba(#052e69, 0.9);
    }
  }

  .vertical-text {
    justify-content: center;
    @include xs-block() {
      display: none;
    }
  }

  &__content {
    grid-column: 2/2;
    padding: 40px 35px 30px;
    @include sm-block() {
      padding: 30px;
    }

    h1, h2, h3, h4, h5, h6 {
      line-height: 1.4;
      margin-bottom: 8px;
    }

    p {
      line-height: 1.2;
    }
  }

  &__cats {
    @include col();
    @include size(12);
    //@include size-lg(9);
    //@include size-md(11);
    //@include size-xs(12);
    //display: grid;
    //grid-template-columns: repeat(auto-fill, 155px) 70px 146px;
    //grid-gap: 5px;
		display: flex;
    //background-color: #fff;
    margin-top: 200px;
    position: relative;
    @include lg-block() {
      //grid-template-columns: repeat(auto-fill, 155px) 70px 157px;
    }
    @include md-block() {
      //grid-template-columns: repeat(auto-fill, 150px) 70px 117px;
    }
    @include sm-block() {
      margin-top: 60px;
      //grid-template-columns: repeat(auto-fill, 116px) 50px 74px;
    }
    @include xs-block() {
			flex-wrap: wrap;
      //grid-template-columns: repeat(auto-fill, 50%);
      //grid-gap: 0;
    }

    &::before {
      content: '';
      display: block;
      width: 120px;
      height: 100%;
      position: absolute;
      right: 100%;
      background-color: #DCE4F0;
    }
  }

  &__cats-item {
		flex-shrink: 0;
    font-family: $font-second;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    color: #054c7a;
		background-color: #fff;
    text-align: center;
    padding: 30px 15px 5px;
    text-decoration: none;
    transition: all 0.3s;
    position: relative;
		@include md-block() {
			flex-basis: 70px;
			padding-right: 10px;
			padding-left: 10px;
			font-size: 15px;
		}
		@include xs-block() {
			flex-basis: calc(33% - 20px);
		}

    &:hover {
      color: #fff;

      &::after {
        height: 100%;
      }

    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba(#14459c, 0.5);
      transition: all 0.3s;
    }

    img {
			margin-bottom: 12px;
    }

    div {
      position: relative;
      z-index: 1;
    }
  }

  &__cats-button {
    display: flex;
    align-items: center;
    //margin-left: 10px;
		padding: 0 35px 0 70px;
		background-color: #fff;
		@include md-block() {
			padding: 0 20px 0 25px;
		}
    @include sm-block() {
      display: none;
    }
  }

	&__order {
		padding: 0 22px;
		@include sm-block() {
			display: none;
		}
	}
}
