.hero {
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 270px;

  &__offer {
    @include col();
    @include size(7.5);
    @include size-lg(9);
    @include size-md(11);
    display: grid;
    grid-template-columns: 75px auto;
    color: #fff;
    background-color: rgba(#14459c, 0.7);
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 170px;
      height: 100%;
      position: absolute;
      right: 100%;
      background-color: rgba(#052e69, 0.9);
    }
  }

  .vertical-text {
    justify-content: center;
  }

  &__content {
    grid-column: 2/2;
    padding: 40px 35px 30px;

    h1, h2, h3, h4, h5, h6 {
      line-height: 1.4;
      margin-bottom: 8px;
    }

    p {
      line-height: 1.2;
    }
  }

  &__cats {
    @include col();
    @include size(7.5);
    @include size-lg(9);
    @include size-md(11);
    display: grid;
    grid-template-columns: repeat(auto-fill, 155px) 70px 146px;
    grid-gap: 5px;
    background-color: #fff;
    margin-top: 200px;
    position: relative;
    @include lg-block() {
      grid-template-columns: repeat(auto-fill, 155px) 70px 157px;
    }
    @include md-block() {
      grid-template-columns: repeat(auto-fill, 150px) 70px 134px;
    }

    &::before {
      content: '';
      display: block;
      width: 120px;
      height: 100%;
      position: absolute;
      right: 100%;
      background-color: #DCE4F0;
    }
  }

  &__cats-item {
    font-family: $font-second;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 700;
    color: #054c7a;
    text-align: center;
    padding: 15px 0;
    text-decoration: none;
    transition: all 0.3s;
    position: relative;

    &:hover {
      color: #fff;

      &::after {
        height: 100%;
      }

    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba(#14459c, 0.5);
      transition: all 0.3s;
    }

    img {
      height: 86px;
    }

    div {
      position: relative;
      z-index: 1;
    }
  }

  &__cats-button {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
}