.posts {
  padding: 45px 0 60px;
  background: url("../img/posts-bg.jpg") no-repeat center top;
  background-size: cover;

  &__header {
    @include col();
    @include size(12);
    display: grid;
    grid-template-columns: 11px 1fr;
    text-align: center;
    color: #fff;
    @include xs-block() {
      grid-template-columns: 1fr;
    }

    .vertical-text {
      margin-top: 33px;
      grid-row: 1/4;
      @include xs-block() {
        display: none;
      }
    }
  }

  &__title {
    grid-column: 2/2;
    margin-bottom: 10px;
    @include xs-block() {
      grid-column: 1;
    }
  }

  &__subtitle {
    font-size: 13px;
  }

  &__container {
    @include col();
    @include size(10);
    @include size-lg(11);
    @include size-sm(12);
    @include shift-left(1);
    @include shift-lg-left(0.5);
    @include shift-sm-left(0);
    margin-top: 20px;
    position: relative;

    .arrow {
      position: absolute;
      top: 50%;
      transform: translate3d(0, -50%, 0);
      z-index: 1;

      &_next {
        right: -55px;
        @include lg-block() {
          right: -10px;
        }
        @include sm-block() {
          right: 0;
        }
      }

      &_prev {
        left: -55px;
        @include lg-block() {
          left: -10px;
        }
        @include sm-block() {
          left: 0;
        }
      }
    }
  }

  &__slider {
    @include sm-block() {
      box-sizing: border-box;
      margin: 0 15px;
    }
  }

  &__slide {
    display: block;
    max-width: 260px;
    margin: 15px 0 0;
    position: relative;
    @include md-block() {
      max-width: none;
    }


    &:hover {
      &::after {
        top: 160px;
        left: 0;
        right: 0;
      }
    }

    &::after {
      content: '';
      display: block;
      border: 2px solid #fff;
      border-radius: 2px;
      position: absolute;
      top: -15px;
      bottom: 15px;
      left: 18px;
      right: 18px;
      pointer-events: none;
      transition: all 0.3s;
    }
  }

  &__text {
    color: #fff;
    font-size: 13px;
    padding: 15px 40px 28px;
    line-height: 1.4;
  }

  &__item-title {
    display: block;
    text-decoration: none;
    font-weight: 700;
    margin-bottom: 15px;
  }
}