.video-block {
  padding: 75px 0 0;
  background-repeat: no-repeat;
  background-position: center top;

  &__header {
    @include col();
    @include size(12);
    display: grid;
    grid-template-columns: 11px 1fr;
    margin-bottom: 75px;
    text-align: center;
    color: #fff;

    .vertical-text {
      margin-top: 18px;
      grid-row: 1/3;
    }
  }

  &__title {
    grid-column: 2/2;
    margin-bottom: 5px;
  }

  &__container {
    @include col();
    @include size(7);
    right: -100px;
  }

  &__text {
    @include col();
    @include size(4.75);
    @include shift-right(0.25);
    margin-left: auto;
    background-color: #fff;
    padding: 30px 53px 45px 107px;
    font-size: 13px;
    margin-top: 35px;

    p {
      line-height: 1.6;
    }

    .button {
      margin-top: 32px;
    }
  }
}