.video {
  padding: 75px 0 0;
  background-repeat: no-repeat;
  background-position: center top;

  &__header {
    @include col();
    @include size(12);
    display: grid;
    grid-template-columns: 11px 1fr;
    margin-bottom: 75px;

    .vertical-text {
      margin-top: 18px;
      color: #fff;
    }
  }

  &__title {
    color: #fff;
    text-align: center;
    grid-column: 2/2;

    .title {
      margin-bottom: 5px;
    }
  }

  &__container {
    @include col();
    @include size(7);
    border: 12px solid #fff;
    box-shadow: 0 0 15px 0 rgba(#00437a, 0.2);
    align-self: flex-start;
    position: relative;
    right: -100px;
    z-index: 1;
    
    &::before {
      content: '';
      display: block;
      width: 110px;
      height: 105px;
      background-color: #00285B;
      position: absolute;
      top: -27px;
      left: -30px;
      z-index: -1;
    }

    iframe {
      display: block;
      width: 100%;
    }

    video {
      display: block;
      width: 100%;
    }
  }

  &__text {
    @include col();
    @include size(4.75);
    @include shift-right(0.25);
    margin-left: auto;
    background-color: #fff;
    padding: 30px 53px 45px 107px;
    font-size: 13px;
    margin-top: 35px;

    p {
      line-height: 1.6;
    }

    .button {
      margin-top: 32px;
    }
  }
}