extends ../layouts/_default
block variables
	-
		const config = {
			title: "Главная",
			description: "",
			og_title: "",
			og_type: "",
			og_url: "",
			og_img: ""
		}
block body_start
block content
	include ../includes/_header
	main.main
		include ../includes/_hero
		include ../includes/_about
		include ../includes/_features
		include ../includes/_our-projects
		include ../includes/_types
	include ../includes/_footer
block body_end
