*:focus {
  outline: none;
}

html {
  min-width: 320px;
}

body {
  font-family: $font-main;
  color: $color-main;
  font-size: 16px;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
  font-family: $font-main;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-second;
  margin-top: 0;
}

p {
  margin-top: 0;
  line-height: 1.4;
}

ul, ol {
  margin-top: 0;
}

ul {
  list-style-type: none;
  line-height: 1.4;
  padding-left: 35px;

  li {
    margin-bottom: 20px;
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 7px;
      height: 7px;
      position: absolute;
      top: 0.4rem;
      left: -2rem;
      background: linear-gradient(
          to right,
          #2695C8 0%,
          #2695C8 10%,
          #1855A4 100%
      );
      box-shadow: 0 0 5px 1px rgba(#2695C8, 0.3);
    }
  }
}

.container {
  @include container();
  @include xs(max-width, 100%);
  @include sm(max-width, 540px);
  @include md(max-width, 720px);
  @include lg(max-width, 960px);
}

.container-fluid {
  @include container-full();
}

.row {
  @include row-flex();
}

.arrow {
  &.slick-disabled, &.swiper-button-disabled {
    visibility: hidden;
    opacity: 0;
    z-index: -999;
  }
}

img.aligncenter {
  display: block;
  margin: 0 auto;
}
.alignright {
  float: right;
  margin-left: 15px;
  margin-bottom: 10px;
  @include sm-block() {
    float: none;
    display: block;
    margin: 15px auto;
  }
}
.alignleft {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
  @include sm-block() {
    float: none;
    display: block;
    margin: 15px auto;
  }
}