.is-hidden {
	display: none !important;
}

.clearfix {
	overflow: auto;
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

.vertical-text {
	font-family: $font-second;
	font-size: 15px;
	line-height: 1.2;
	font-weight: 700;
	writing-mode: tb-rl;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	transform: rotate(180deg);
	color: inherit;
}

.title {
	font-family: $font-second;
	font-size: 32px;
	line-height: 1.2;
	font-weight: 700;
}
