.is-hidden {
	display: none !important;
}

//.for-desktop {
//	@include mobile {
//		display: none !important;
//	}
//}
//
//.for-mobile {
//	@include desktop {
//		display: none !important;
//	}
//}

.clearfix {
	overflow: auto;
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}
